@import url('reset.css');

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 800px;
    height: 800px;
    overflow: hidden;
    background-color: grey;
}

.img-block {
    display: flex;
    width: 400%;
    margin: 16px 0;
}

.img {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
}

.meme {
    width: 700px;
    height: 700px;
}

.lower-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    display: flex;
    width: 480px;
    height: 50px;
    overflow: hidden;
}

.text-wrapper {
    display: flex;
}

.description {
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: aqua;
    font-size: 24px;
    width: 440px;
}

.slider {
    margin-right: 45px;
}

input {
    display: none;
}

.panel {
    width: 30px;
    height: 30px;
    padding: 5px;
    padding-top: 10px;
}

.panel:hover {
    cursor: pointer;
}

#btn:hover {
    background: red;
}

#btn1:checked ~ .img-block {
    margin-left: 0;
    transition: .5s;
}

#btn2:checked ~ .img-block {
    margin-left: -100%;
    transition: .5s;
}

#btn3:checked ~ .img-block {
    margin-left: -200%;
    transition: .5s;
}

#btn4:checked ~ .img-block {
    margin-left: -300%;
    transition: .5s;
}



#btn1:checked ~ .lower-block .text .text-wrapper {
    margin-left: 0;
    transition: .5s;
}

#btn2:checked ~ .lower-block .text .text-wrapper {
    margin-left: -102%;
    transition: .5s;
}

#btn3:checked ~ .lower-block .text .text-wrapper {
    margin-left: -204%;
    transition: .5s;
}

#btn4:checked ~ .lower-block .text .text-wrapper {
    margin-left: -306%;
    transition: .5s;
}

label {
    justify-content: center;
    align-items: center;
}

span {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: tomato;
}

label:hover span {
    background-color: white;
}

#btn1:checked ~ .lower-block .slider .panel1 span {
    background: transparent;
    border: 2px solid aquamarine;
}

#btn1:checked ~ .lower-block .slider .panel1:hover span {
    border-color: #fff;
}

#btn2:checked ~ .lower-block .slider .panel2 span {
    background: transparent;
    border: 2px solid aquamarine;
}

#btn2:checked ~ .lower-block .slider .panel2:hover span {
    border-color: #fff;
}

#btn3:checked ~ .lower-block .slider .panel3 span {
    background: transparent;
    border: 2px solid aquamarine;
}

#btn3:checked ~ .lower-block .slider .panel3:hover span {
    border-color: #fff;
}

#btn4:checked ~ .lower-block .slider .panel4 span {
    background: transparent;
    border: 2px solid aquamarine;
}

#btn4:checked ~ .lower-block .slider .panel4:hover span {
    border-color: #fff;
}

@media (min-width: 481px) and (max-width: 768px) {
    .wrapper {
        width: 480px;
        height: 700px;
    }

    .meme {
        width: 460px;
        height: 580px;
    }

    .img-block {
        margin: 15px 0;
        height: 580px;
    }

    .lower-block {
        flex-direction: column;
    }

    .text {
        width: 320px;
        height: 40px;
    }

    .description {
        justify-content: center;
        width: 320px;
        margin-left: 0;
        font-size: 20px;
    }

    .slider {
        display: flex;
        justify-content: center;
        margin-right: 0;
        height: 35px;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel {
        padding: 5px;
        padding-top: 7px;
        margin-bottom: 10px;
    }

    #btn1:checked ~ .lower-block .text .text-wrapper {
        margin-left: 0;
    }
    
    #btn2:checked ~ .lower-block .text .text-wrapper {
        margin-left: -100%;
    }
    
    #btn3:checked ~ .lower-block .text .text-wrapper {
        margin-left: -200%;
    }
    
    #btn4:checked ~ .lower-block .text .text-wrapper {
        margin-left: -300%;
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 320px;
        height: 500px;
    }

    .meme {
        width: 280px;
        height: 380px;
    }

    .img-block {
        margin: 10px 0;
        height: 380px;
    }

    .lower-block {
        flex-direction: column;
    }

    .text {
        width: 320px;
        height: 50px;
    }

    .description {
        justify-content: center;
        width: 320px;
        font-size: 18px;
        margin-left: 0;
    }

    .slider {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        width: 15px;
        height: 15px;
    }

    .panel {
        width: 25px;
        height: 25px;
        padding: 5px;
        padding-top: 7px;
    }

    #btn1:checked ~ .lower-block .text .text-wrapper {
        margin-left: 0;
    }
    
    #btn2:checked ~ .lower-block .text .text-wrapper {
        margin-left: -100%;
    }
    
    #btn3:checked ~ .lower-block .text .text-wrapper {
        margin-left: -200%;
    }
    
    #btn4:checked ~ .lower-block .text .text-wrapper {
        margin-left: -300%;
    }
}