@import url('reset.css');

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 800px;
    height: 800px;
    overflow: hidden;
    background-color: grey;
}

.img-block {
    display: flex;
    width: 400%;
    opacity: 1;
    animation: fade .5s linear;
    /* margin-left: -100%; */
}

.img {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
}

.meme {
    width: 700px;
    height: 700px;
}

.lower-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.text {
    display: flex;
    width: 260px;
    height: 50px;
    overflow: hidden;
}

.text-wrapper {
    display: flex;
    opacity: 1;
    animation: fade .5s linear;
    /* margin-left: -260px; */
}

@keyframes fade {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% {opacity: 1}
  }

.description {
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: aqua;
    font-size: 20px;
    width: 220px;
}

.slider {
    margin-right: 45px;
}

.btn {
    cursor: pointer;
    padding: 4px;
    background-color: blueviolet;
}

.btn:hover {
    background: red;
}

.btn1:checked ~ .img-block {
    margin-left: 0;
}

.btn2:checked ~ .img-block {
    margin-left: -100%;
}

.btn3:checked ~ .img-block {
    margin-left: -200%;
}

.btn4:checked ~ .img-block {
    margin-left: -300%;
}



.btn1:checked ~ .text .text-wrapper {
    margin-left: 0;
}

.btn2:checked ~ .text .text-wrapper {
    margin-left: -260px;
}

.btn3:checked ~ .text .text-wrapper {
    margin-left: -520px;
}

.btn4:checked ~ .text .text-wrapper {
    margin-left: -780px;
}

span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: orange;
}