@import url('reset.css');

.wrapper {
    width: 1200px;
    height: 800px;
    background-color: grey;
    overflow: hidden;
}

.img-block {
    display: flex;
}

.meme {
    margin: 20px 40px;
    width: 1000px;
    height: 700px;
}

.lower-block {
    display: flex;
}

.text {
    display: flex;
    overflow: hidden;
}

.description {
    margin-left: 40px;
}

.slider {
    margin-left: 0 auto;
    margin-right: 40px;
}

.btn {
    cursor: pointer;
    padding: 4px;
}